.card-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-inline:auto ;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: calc(100%);
    border-radius: 3.5px;
    overflow: hidden;

    background-color: white;
    margin-right: 1.3em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.card img {
   width: 100%; 
}

.container {
    padding: 2px 16px;
}